body {
    background-image: url('/Users/andrey/WebstormProjects/habits/src/image/back.png');
}

.workers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.worker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worker-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}